# Entornos virtuales
.venv/
venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Archivos de sistema operativo
.DS_Store
Thumbs.db"application_train.csv" 
# Entornos virtuales
.venv/
venv/
env/
.vscode/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Datos locales de Kaggle
application_train.csv
application_test.csv
data/
raw_data/

# Artefactos generados localmente
results/
results_dani/
kt_dir/
*.keras
